@model MidTermSolution.Models.Offer

@{
    ViewBag.Title = "Details Offer";
}

<h2>Details Offer</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Offer Code :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferCode)
        </dd>

        <dt>
            Offer Type ID :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferTypeID)
        </dd>

        <dt>
            Offer Description :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferDescription)
        </dd>

        <dt>
            Applies To Room ID :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppliesToRoomID)
        </dd>

        <dt>
            Value :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            Minimum Spend :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinSpend)
        </dd>

        <dt>
            Multiple Use :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MultipleUse)
        </dd>

        <dt>
            Assigned To :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedTo)
        </dd>

    </dl>
</div>
<div class="col-md-2">
    <a href="@Url.Action("EditOffer", "Admin", new { id = Model.OfferId })" class="btn btn-primary">
        Edit
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </a>
</div>
<div class="col-md-2">
    <a href="@Url.Action("OfferList", "Admin", null)" class="btn btn-primary">
        Back to List
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
</div>
<br />
