@model MidTermSolution.Models.Offer

@{
    ViewBag.Title = "Edit Offer";
}

<h2>Edit Offer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.OfferId)

        <div class="form-group">
            @Html.LabelFor(model => model.OfferCode, "Offer Code :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfferCode)
                @Html.ValidationMessageFor(model => model.OfferCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfferTypeID, "Offer Type ID :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfferTypeID)
                @Html.ValidationMessageFor(model => model.OfferTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfferDescription, "Offer Description :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfferDescription)
                @Html.ValidationMessageFor(model => model.OfferDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppliesToRoomID, "Applies To Room ID :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppliesToRoomID)
                @Html.ValidationMessageFor(model => model.AppliesToRoomID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Value, "Value :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Value)
                @Html.ValidationMessageFor(model => model.Value)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinSpend, "Minimum Spend :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinSpend)
                @Html.ValidationMessageFor(model => model.MinSpend)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MultipleUse, "Multiple Use :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MultipleUse)
                @Html.ValidationMessageFor(model => model.MultipleUse)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssignedTo, "Assigned To :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssignedTo)
                @Html.ValidationMessageFor(model => model.AssignedTo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 col-md-push-2">
                <button type="submit" class="btn btn-primary">
                    <span>Edit Confirm</span>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-md-2 col-md-push-2">
                <a href="@Url.Action("OfferList", "Admin", null)" class="btn btn-primary">
                    Back to List
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
}

